#app {
    font-family: "Times New Roman", Times, serif;
  color: Blue;
  margin: 0 auto;
}

a.active {
  color:orange;
}

nav{
  padding-top:20px;
}

#appdev {
    min-width: 550px;
  max-width: 850px;
}

title {
    color:black;
}

#space {
    padding-top: 10%
}